.form {
    width: 190%;
    border-radius: 10px;
    padding-left: 15px;
    padding: 8px;
    border: 1px solid #c5c5c5;
    margin-left: 0%;

    
}
.card-body{
    display: flex;
    background-color: rgb(240, 248, 253);

}
.btn-outline{
    border-radius: 8px;    
    color: rgb(255, 255, 255);
    border: none;
    background-color:  rgb(78, 169, 249);
    width: 14%;
    padding: 13px;
    margin-left: 86%;
}