/* Sidebar principal */
.bg-dark {

  background-color: #171c21 !important;
  height: 85vh;

}

/* Menu titre */
.fs-5 {

  font-weight: bold;

  font-size: 20px;

}

/* liens */
.nav-link {

  color: #ecf0f1 !important;

  padding: 10px;

  width: 100%;

  border-radius: 5px;

}

/* hover */
.nav-link:hover {

  background-color: #34495e;

  color: #ffffff !important;

}

/* icones */
.nav-link i {

  margin-right: 10px;

}

/* submenu */
.collapse .nav-link {

  padding-left: 30px;

  font-size: 14px;

}

/* profile */
.dropdown {

  width: 100%;

}

/* image profile */
.rounded-circle {

  border: 2px solid white;

}

/* sidebar height */
.min-vh-100 {

  height: 100vh;

}

/* responsive */
@media (max-width: 768px) {

  .col-auto {

    width: 70px;

  }

}
.container-fluid {

  padding: 10;

}
.link{
  color: #ecf0f1;
  text-decoration: none;
}